{% extends "base.html" %}
{% block title %}Feedback{% endblock %}
{% block content %}
    {% from "includes/_formHelper.html" import render_field %}
<style>
 body {
            font-family: 'Arial', sans-serif;
            background-color: #2f3136;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .feedback-container {
            max-width: 500px;
            margin: 0 auto;
            padding: 40px;
            background-color: #393d45;
            border-radius: 5px;
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            align-items: center;
        }
  .feedback-container h1 {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .feedback-container p {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
  }

  .form-group-name, .form-group-textarea {
    margin-bottom: 15px;
  }

  .form-text {
    color: white;
  }

  .form-group-name .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    outline: none;
  }

  .form-group-textarea .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    outline: none;
    resize: none;
    height: 100px;
  }

  .submit-btn {
            background-color: #E8E8E8;
            color: #393d45;
            border: none;
            padding: 10px 0;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 25px;
            display: block;
            margin-top: 25px;
            display: block;
            width: 100%;
            text-align: center;
        }



</style>

<div class="feedback-container">
    <h1>Get In Touch</h1>
    <br>
    <p>Hello {{current_user.username}}, <br> How can we provide assistance to you.</p>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group-textarea">
            {{ form.message.label(class="form-text") }} {{ form.message(class="form-control") }}
        </div>
        <div class="submit-form">
        <button type="submit" class="submit-btn">Send Feedback</button>
        </div>

    </form>
</div>
<script>
    const username = "{{ current_user.username }}"; // Django/Flask template variable
            const welcomeText = document.querySelector(".navbar-text");
            if (welcomeText) {
                welcomeText.textContent = `Welcome, ${username}`;
            }
</script>


{% endblock %}

