{% extends "base.html" %}
{% block title %}Forget Password{% endblock %}

{% block content %}
    {% from "includes/_formHelper.html" import render_field %}

    <style>
        body {
            font-family: 'Arial', sans-serif;
            color: black;
            background-image: url("{{ url_for('static', filename='wall4.jpg') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin: 0;
            padding: 0;
        }

        .form-container {
            max-width: 500px;
            height: 100%;
            margin: 0 auto;
            padding: 40px;
            background-color: rgba(255, 255, 255);
            border-radius: 15px;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        .form-container h2 {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: black;
            margin-bottom: 20px;
        }

        .form-container input {
            width: 100%;
            height: 45px;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 25px;
            border: none;
            background: rgba(255, 255, 255, 0.2);
            color: white;
            font-size: 16px;
        }

        .input-group {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .input-group label {
            font-size: 16px;
            font-weight: bold;
            color: black;
            text-align: right;
        }

        .input-group .input-group-text {
            background-color: transparent;
            border: none;
            color: black;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .input-group .form-control {
            border-radius: 25px;
            border: solid 2px;
            background-color: rgba(255, 255, 255, 0.2);
            color: black;
            font-size: 16px;
        }

        .input-group input::placeholder{
            color: #215F8B;
        }

        .save-btn {
            background-color: #E8E8E8;
            color: #0153FF;
            border: none;
            padding: 10px 0;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 25px;
            display: block;
            margin-top: 25px;
            display: block;
            width: 100%;
            text-align: center;
        }

        .save-btn:hover {
            background-color: #89CFF0;
        }

        .extra-options {
            text-align: center;
            margin-top: 15px;
            color: black;
        }

        .extra-options a {
            color: #0153FF ;
            font-weight: bold;
            text-decoration: underline;
        }

        @media (max-width: 767px) {
            .form-group label {
                text-align: left;
                width: 100%;
                margin-bottom: 5px;
            }
        }
    </style>

    <div class="container">
        <div class="form-container">
            <h2>Forgot Password</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <form method="POST" action="{{ url_for('forget_password') }}">
                {{ form.hidden_tag() }}

                <!-- Username Field with Icon -->
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                    {{ render_field(form.email, class="form-control", placeholder="Email") }}
                </div>

                <button type="submit" class="save-btn">Send the MFA Code</button>
            </form>
        </div>
    </div>
{% endblock %}

