{% extends "base.html" %}
{% block title %}Home Bakery - Login{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <br><h2 class="card-title text-center">Login</h2>
          <form method="post" action="/login">
            <div class="form-label-group">
              <br><label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            </div>

            <div class="form-label-group">
              <br><label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}
